
/* Основной цвет заноловков №212121   1*/
/* Цвеет h1, текс в акценте, Syudio в футере, адресс в футере #FFFFFF */
/* Цвет Акцент, Web (Хедере и футер)и Ховер  #2196F3 */
/* Цвет абзаца, емайл и тел 757575   1 */
/* Цвет емайл и тел в футере FFFFFF   0.6*/
/* Адерсс FFFFFF   1 */
 /* Вторичный цвет фона F5F4FA */
/*  */



 :root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --head-text-color: #FFFFFF;
    --primary-bg-color: #FFFFFF;
    --background-footer: #2F303A;
 }

.page {
    background-color:var(--primary-bg-color);
    color:var(--primary-text-color);
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;

    font-size: 14px;
    line-height: 1.71;
    
}

 /* logo */
.logo, .logo-studio, .logo-studio-footer {
    font-family: Raleway, sans-serif;

    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}

ul {
    list-style: none;
}

/* Хедер */

.logo {
    color:var(--accent-color);
}
.logo-studio {
    color: #000000;
}
/* site-nav */
.site-nav .link {
    color: var(--title-text-color);
    
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}
.contacts-header .link {
    color: var(--primary-text-color);
}
.contacts-header .link:hover,
.contacts-header .link:focus {
    color: var(--accent-color);
}
.site-nav .link.current {
    color: var(--accent-color);

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
/* hero */

.hero-title {
    color:var(--head-text-color);

    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

/* button */

.button {
    color: var(--head-text-color);
    background-color: var(--accent-color);

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
/* identical to box height, or 188% */

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
}
.button:hover,
.button:focus {
    color: var(--title-text-color);
    background-color: var(--primary-text-color)
}
/* sections */

.section-title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

/* advantages */

.advantage-list .title,
.team-list .team-name {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}   

/* serrvice */


/* team */

.team {
    background-color: #F5F4FA;
}

.team-list .team-name {
    color: var(--title-text-color);
}

/* Футер */

.footer {
    background-color: var(--background-footer);
}

.logo-studio-footer {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: var(--head-text-color);
}
.adress-footer {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--head-text-color);
}
.footer-link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6)
;
}